@charset "UTF-8";

@media screen and (min-width:1025px) {
  .main-info-wrap{
    background: var(--main-color03);
  }
  
  .shop-info-wrap{
    width: 1170px;
    margin: 0 auto;
    padding: 60px 0px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .shop-info{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
  }
  
  .shop-store, .shop-QnA, .shop-call{
    padding: 30px;
    box-sizing: border-box;
    background: var(--main-color02);
    position: relative;
  }
  
  .shop-store{
    width: 100%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .shop-info-subtitle{
    font-size: 14px;
    line-height: 16px;
    font-weight: 200;
    margin-bottom: 10px;
  }
  .shop-info-title{
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  .shop-info-text{
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .shop-sub-title{
    font-size: 18px;
    line-height: 18px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  .shop-sub-text{
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .shop-info-btn{
    position: absolute;
    display: block;
    width: 80px;
    line-height: 30px;
    bottom: 5px; right: 30px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .shop-info-arrow{
    margin-left: 10px;
  }
}

@media screen and (max-width:1024px) {
  .main-info-wrap{
    background: var(--main-color03);
  }
  
  .shop-info-wrap{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
  }
  .shop-info-bg{
    width: 100%;
    height: 100%;
    background: var(--main-color02);
    position: relative;
  }
  .shop-info{
    width: 100%;
    display: grid;
    box-sizing: border-box;
    padding: 0px 16px 60px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
  
  .shop-store, .shop-QnA, .shop-call{
    padding: 30px;
    box-sizing: border-box;
    background: var(--main-color02);
    position: relative;
  }
  
  .shop-store{
    width: 100%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .shop-info-subtitle{
    font-size: 14px;
    line-height: 16px;
    font-weight: 200;
    margin-bottom: 10px;
  }
  .shop-info-title{
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  .shop-info-text{
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .shop-sub-title{
    font-size: 18px;
    line-height: 18px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  .shop-sub-text{
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .shop-info-btn{
    position: absolute;
    display: block;
    width: 80px;
    line-height: 30px;
    bottom: 5px; right: 30px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .shop-info-arrow{
    margin-left: 10px;
  }
}