@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

*{
  padding : 0px; 
  margin : 0px; 
  font-family: 'Pretendard', sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #272727
}
button{
  color: #272727;
}

:root {
  --main-color01: #800019;
  --main-color02: #FFF;
  --main-color03: #F2EEE3;
  --main-color04: #f2f2f2;
  --font-color00: #272727;
}