:root{
  --main-color : #272727;
  --main-color02 : #fff;
}

body{
  color: var(--main-color);
}

a{
  color: var(--main-color);
  text-decoration: none;
}

ol, ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}